body { background: #597c5e; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 54px; display: flex; }
.block-cache-0 { color: #938fa3; font-size: 21px; margin-bottom: 5px; }
.block-cart-1 { color: #cc3325; font-size: 13px; margin-bottom: 5px; }
.block-search-2 { color: #a2e6a6; font-size: 13px; margin-bottom: 5px; }
.block-token-3 { color: #148f64; font-size: 13px; margin-bottom: 5px; }
.block-token-4 { color: #7fe001; font-size: 21px; margin-bottom: 5px; }
.block-notify-5 { color: #1992c0; font-size: 20px; margin-bottom: 5px; }